* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

:root {
    --bc-dark: rgb(255, 251, 232);
    --text: rgb(41, 29, 25);
}

.light {
    --bc-dark: rgb(255, 251, 232);
    --text: rgb(41, 29, 25);
}

.dark {
    --bc-dark: rgb(41, 29, 25);
    --text: rgb(255, 251, 232);
}



html {

    background-color: var(--bc-dark);
}

#wrapper {
    min-height: 100vh;

    background-color: var(--bc-dark);
}

div {
    color: var(--text);
}

#swapColor {
    padding: 8px 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    border: 2px solid;
    cursor: pointer;
}

.editable {
    width: 100%;
}

.steps form {
    position: relative;
}





.steps input[type=text],
.editable {
    font-size: 1em;
    color: var(--text);
    margin: 5px !important;
    outline: 1px solid rgb(41, 86, 120);
    width: 100%;

    background-color: transparent;
    border: 0px;
    padding: 12px 20px;
    font-family: 'Merriweather', serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 1px solid transparent;
    transition: outline 0.5s;
    background: linear-gradient(to right, var(--text), var(--text)), linear-gradient(to right, var(--text), var(--text)), linear-gradient(to bottom, var(--text), var(--text)), linear-gradient(to bottom, var(--text), var(--text));
    background-position: 0% 0%, 100% 100%, 0% 0%, 100% 100%;
    background-size: 0% 1px, 0% 1px, 1px 0%, 1px 0%;
    background-repeat: no-repeat;
    transition: background-size cubic-bezier(.13, .52, .22, .98) 1s;
}

.steps input[type=text] {
    font-size: 1.3em;
}


.steps input[type=submit] {
    display: none;
}

.steps input[type=text]:focus,
.editable:focus {
    overflow: hidden;
    resize: none;
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    transition: background-size cubic-bezier(.13, .52, .22, .98) 1s;

}

::selection {
    background-color: var(--text);
    color: var(--bc-dark);
}

pre ::selection {
    background-color: rgb(255, 251, 232);
    color: rgb(41, 29, 25);
}

.steps {
    margin: 1em auto;
    max-width: 1024px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}



main ::-webkit-scrollbar {
    background: rgb(255, 251, 232);
}


main ::-webkit-scrollbar-track {
    background: rgb(255, 251, 232);
}


main ::-webkit-scrollbar-thumb {
    background: rgb(54, 40, 35);
    
}



main :focus-visible {
    outline: 0px;
}