{% extends 'base.html.twig' %}

{% block title %}Hello OpenAIController!{% endblock %}

{% block body %}


<div class="steps">
    {% for message, step in steps %}

    {# {{dump(step)}} #}


    <form>
        <h2>
            <input type="text" value="{{ message }}" spellcheck="false">
        </h2>   
        <input type="submit" value="Save">
    </form>

    <form>
        <div contenteditable="true"  class="editable" spellcheck="false">
            {{ step | raw}}

        </div>
        <input type="submit" value="Save">
    </form>


    {% endfor %}

</div>
{% endblock %}